.devInfo {
  /* margin: auto; */
  width: 60%;
}

.devImg {
  position: relative;
  left: 700px;
  bottom: 200px;
}

.massageInfo {
  width: 60%;
  position: relative;
  left: 350px;
  bottom: 150px;
}

.massageImg {
  position: relative;
  bottom: 400px;
}

.bakerInfo {
  position: relative;
  bottom: 350px;
  width: 60%;
}

.bakerImg {
  position: relative;
  bottom: 550px;
  left: 700px;
}