header {
  background-color: #FAEDB4;
  position: fixed;
  /* bottom: 22px; */
  width: 100%;
  height: 60px;
  /* color:black; */
  z-index: 99;
}


.icon {
  float: left;
  margin: 10px;
  border-radius: 10px;
}

.title {
  text-align: center;
  position: relative;
  top: 5px;
}

nav {
  position: relative;
  bottom: 40px;
  text-align: right;
  /* border: red solid 5px; */
}

.navListLi {
  margin-right: 10px;
  font-size: larger;
}

.navListLi:last-child {
  margin-right: 50px;
}

.navLinkHeader {
  text-decoration: none;
  color: black;
}

